.btn-expense {
  background-color: white;
  border-color: crimson;
  color: crimson;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.5s;
}
.btn-income {
  background-color: white;
  border-color: dodgerblue;
  color: dodgerblue;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.5s;
}

.form-control {
  margin: 5px;
  font-size: 18;
  line-height: 1.5;
  border-color: orange;
  border-radius: 2.5px;
  transition-duration: 0.5;
  transition-property: box-shadow;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(177, 93, 3, 0.25);
}
.form-control:hover {
  box-shadow: 0 0 0 0.2rem rgba(177, 93, 3, 0.25);
}
.form-control:focus-visible {
  outline-color: orangered;
}

.form-container {
  display: flex;
  justify-content: space-around;
}
form {
  width: 50%;
}
