* {
  /*outline: 1px solid red;*/
  box-sizing: border-box;
}

.app-container {
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  align-content: space-around;
}

.header-container {
  display: flex;
  flex-direction: column;

  min-width: 100%;

  align-items: center;
  height: 40vh;
  background-image: url(../public/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-text {
  font-size: 25px;
}
.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-item-1 {
  float: left;
}
.grid-item-2 {
  text-align: end;
}
.grid-item-3 {
  text-align: end;
}
.income-container {
  width: 50%;
  max-width: 500px;
  background-color: lightskyblue;
  margin: 60px 20px 20px 20px;
  padding: 5px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.expense-container {
  width: 50%;
  max-width: 500px;
  background-color: lightcoral;
  margin: 0 20px 20px 20px;
  padding: 5px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.budget-container {
  margin-top: 50px;
}
.budget-text {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.budget-box {
  margin-top: 50px;
}
.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form-control {
  margin: 15px;
  border-radius: 5px;
  border-color: darkgray;
  height: 35px;
  font-size: 18px;
  transition-duration: 0.5s;
  transition-property: box-shadow;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(19, 80, 134, 0.25);
}
.form-control:hover {
  box-shadow: 0 0 0 0.2rem rgba(19, 80, 134, 0.25);
}

.btn-income {
  height: 35px;
  font-size: 18px;
}
.btn-expense {
  height: 35px;
  font-size: 18px;
}
.tables-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-table {
  margin: 1rem;
  width: 40%;
}
.container-table div {
  font-size: 18px;
  font-weight: bold;
}

.btn-expense {
  background-color: white;
  border-color: lightcoral;
  color: lightcoral;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.5s;
}
.btn-income {
  background-color: white;
  border-color: lightskyblue;
  color: lightskyblue;
  font-size: 18px;
  font-weight: bold;
  transition-duration: 0.5s;
}

.table-income tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-income tr:nth-child(odd) {
  background-color: lightskyblue;
  color: white;
}
.table-expense tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-expense tr:nth-child(odd) {
  background-color: lightcoral;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  table-layout: auto;
}
table tr {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}
.btn-table {
  float: right;
}
table tr td:first-child {
  width: 100%;
}
table tr td {
  padding: 5px;
}
.btn-hidden {
  visibility: hidden;
  float: right;
}

@media only screen and (max-width: 425px) {
  .tables-container {
    flex-direction: column;
  }
}
