.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  padding: 10px;
}
.header-container {
  background-image: url(../public/headerImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.date-box {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;

  /*margin: 20px;*/
}
.budget-box {
  font-size: 25px;
  font-weight: bold;
  gap: 30px;
}
.container-row {
  width: 45%;
  text-align: center;
}
.container-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 30% 20%;
}
.container-50 {
  width: 30%;
  padding: 10px;
}
.expense-box {
  background: crimson;
  margin: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 3px;
}
.income-box {
  background: dodgerblue;
  margin: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 3px;
}
